#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color:light;
}

#editor{
  width:40vw;
  height:25vh;
  resize:none;
}

#preview{
  width:60vw;
}

.div1{
  width:42vw;
  height:25vh;
}